<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCljGsw2Z31LDEApc2UyklopjW2cwDIs0A</string>
	<key>GCM_SENDER_ID</key>
	<string>39289379271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>uaspemmob-f5fb1</string>
	<key>STORAGE_BUCKET</key>
	<string>uaspemmob-f5fb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39289379271:ios:f96d7fd863e3c8aa9da1e2</string>
	<key>DATABASE_URL</key>
	<string>https://uaspemmob-f5fb1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>